.slct{
    margin-top: 4%;
    padding: 0 2%;
}
.img{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slct_two{
    margin-top: 3%;
}
.slct_three{
    margin-top: 3%;
}
.btn{
    padding: 0 2%;
    margin-top: 3%;
}