<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Entrer votre Email
    </ion-title>
    <p class="subTitle">Réinitialiser votre mot de passe</p>
  </div>
  <ion-item class="input">
    <ion-input labelPlacement="stacked" label="Email" placeholder="email@domain.com">
      <ion-icon slot="start" name="mail" ></ion-icon>
    </ion-input>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
