.header{
    text-align: center;
    background:  #ffc33f;
    padding: 4rem;
    border-radius: 0px 0px 30px 30px;
    .subTitle{
        font-size: 1rem;
    }
    .title{
        font-size: 2rem;
    }
}
.pass{
    margin-top: 4%;
    padding: 0 4%;
    color: #ffc33f;
}