.img{
    margin-top: 4%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
   
}
.slct_two{
    margin-top: 3%;
}
.slct_three{
    margin-top: 3%;
}
.btn{
    padding: 0 2%;
    margin-top: 3%;
}