<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Réservation</ion-title>
    <p class="subTitle">Choisis ton université pour réserver ton ticket</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header class="center">
            <ion-card-title>UCAD</ion-card-title>
            <ion-card-subtitle>Au Resto</ion-card-subtitle>
          </ion-card-header>
        
          <ion-button (click)="linkUcad()" style="color: azure;" fill="clear">Réserver</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success">
          <ion-card-header class="center">
            <ion-card-title>UGB</ion-card-title>
            <ion-card-subtitle>Au Resto</ion-card-subtitle>
          </ion-card-header>
        
          <ion-button (click)="linkUgb()" style="color: azure;" fill="clear">Réserver</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="medium">
          <ion-card-header class="center">
            <ion-card-title>UABD</ion-card-title>
            <ion-card-subtitle>Au Resto</ion-card-subtitle>
          </ion-card-header>
        
          <ion-button style="color: azure;" fill="clear">Réserver</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="danger">
          <ion-card-header class="center">
            <ion-card-title>UASZ</ion-card-title>
            <ion-card-subtitle>Au Resto</ion-card-subtitle>
          </ion-card-header>
        
          <ion-button style="color: azure;" fill="clear">Réserver</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-fab style="background: #ffc33f" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
